{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="{% static 'static/css/blog-form.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Rowdies&display=swap" rel="stylesheet">



</head>
<body>
{% include 'templates/nav.html' %}
<main>


    <body>

    <div class="testbox">
        <form action="/homepage/blog-form/" method="POST">
            {% csrf_token %}
            <header>Write a Blog!</header>
            <div class="detail-content">
            <div class="form-name"><label>Name</label> {{ blogForm.name }}<br><br></div>
            <div class="form-email"><label>E-mail</label>{{ blogForm.email1 }}<br></div>
            </div>
            <div class="blog-details">
            <div class="form-title"><label>Title</label> {{ blogForm.title }}<br><br></div>
            <div class="blog-content"><label style="margin-left: 120px;font-size: 25px;">Your Blog</label> <br>{{ blogForm.blog }}<br><br></div>
            </div>


            <input class="button" type="Submit" value="POST"></input>

        </form>
    </div>

</main>
</body>
</html>