@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kanit&display=swap');

body{
    width: 99%;
}
.image-bio-wrapper{
    margin-top: -17px;
    float: left;
    position:fixed;
    background-color: rgba(165, 170, 197, 0.233);
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50%;
    
}

.image-container{
    border: solid rgba(109, 102, 146, 0.384);
    width: 200px;
    height: 30vh;
    border-radius: 20px;
}

.details{
    margin-left: 20px;
    margin-top: 10px;
    
}

.name-container p{
    
    font-size: 20px;
    text-transform: uppercase; 
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

.bio-container{
    font-family: 'Dancing Script', cursive;
    
    font-weight: bold;
}

.testbox {
    
    display: flex;
    flex-wrap: wrap;
    
    margin-left: 400px;
    padding-right: 30px;
    color: rgb(0, 0, 0);
    padding-top: 2px;
    padding-bottom: 40px;
    
  }
  
  
  
  .testbox-content{
  background-color: rgb(226, 227, 231);
  padding-left: 25px;
  padding-bottom: 20px;
  padding-right: 2px;
  border-radius: 8px;
  width: 800px;
  box-shadow: rgba(163, 154, 154, 0.671);
  }
  

  .blog-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 25px;
  }

  .testbox-img{
      border-radius: 10px;
      position: fixed;
      margin-left: 84%;
      margin-top: 25px;
  }
  .testbox-img img:hover{
    transform: scale(1.3);
  }


  .edit-btn a{
      width: 100%;
      margin-left: 15px;
      padding-left: 25px;
      border-radius: 6px;
      padding-top: 10px;
      padding-right: 30px;
      padding-bottom: 10px;
      background-color: rgba(120, 119, 167, 0.849);
      border: none;
  }

  .edit-btn a:hover{
      background-color: rgb(83, 123, 255);
      color: white;
  }

  .edit-blog{
    margin-top: 20px;
    margin-left: 0;
    background-color: rgb(158, 159, 238);
    width: min-content;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    border-radius: 8px;
  }

  .edit-blog:hover{
    background-color: rgb(97, 99, 223);
  }

  .detail{
    margin-top: 20px;
    margin-left: 0;
    background-color: rgb(158, 159, 238);
    width: min-content;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    border-radius: 8px;
  }
  
  .detail:hover{
    background-color: rgb(97, 99, 223);
  }
  

  .btn-container{
      display: flex;
      flex-wrap: wrap;
  }